html, body {
	color: gray;
	background-color: black
}

#menu_top {
	background-color: black;
}

#searchresults_pagination_compact a {
	background-color: black;
	color: gray;
}

.qmv_logo_text {
	color: gray;
}

#save_warning {
	color: red;
}
