#menu_top {
	background-color: white;
}

#searchresults_pagination_compact a {
	background-color: white;
	color: black;
}

.qmv_logo_text {
	color: black;
}

#save_warning {
	color: red;
}
